*{
    box-sizing: border-box;
    overflow-x: hidden;
}
.arrow{
    transition: transform 1s ease-in-out;
}
button:hover .arrow{
    transform: translateX(10px);
}
.carousel-indicators{
    bottom: -10px;
}
#navbar .headercol{
    background-color: #bccde0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
  
#home .bolder
{
    font-weight: bolder;
 
}
#home .bold
{
    font-weight:500;

}
#home .semibold
{
    font-weight:300;
  
}
#home .light
{
    font-weight: 200;
   
}
#home .lighter
{
    font-weight: 100;
   
}
#home #headphoneimage
{
    background-image: url('../Image/speaker.png');
    background-repeat: no-repeat;
    background-size: center;
}
#home .card{
    width: 10rem;
    height: 17rem;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}
#home .rowimage{
    background-size: left bottom !important;
}
#home .carousel-indicators{
    top: 0 !important;
    left: auto;
}
#home .carousel-indicators button{
    background-color: #ec685d;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
#home #margin .ms-4{
    margin-left: 1.5rem !important;
 }
 #about .imageaccory
 {
    position: relative;
    bottom: 25px;
    left: 200px;
 }
 #about .imagerelate
 {
    position: relative;
    bottom: -115px;
    left: -40px;
 }
@media(max-width: 770px)
{
    .carousel-indicators{
        bottom: -270px !important;
    }
    #home .card{
        width: 20rem;
        height: 17rem;
    }
    #home .cardhorizontal{
        width: 100% !important;
    }
    #home .rowimage{
        background-size: 100% 130% !important;
    }
    #about .widecol{
        width: 20.3% !important;
    }
    #about .imageaccory
 {
    left: 170px !important;
 }
 #about .imagerelate
 {
    bottom: 65px !important;
    left: 80px !important;
 }
}
@media (max-width: 450px)
{
    #footer #column .fs-6
{
    font-size: small !important;
}
   #row .fs-6
   {
    font-size: small !important;
   }
   .carousel-indicators{
    bottom: -100px !important;
}
#navbar .headercol{
    background-color: #bccde0;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 50px !important;
}
#home .card{
    width: 100% !important;
}
#home .rowimage{
    background-size: 100% 70% !important;
}
#about .heading{
    font-size: 2rem !important;
}
#about .widecol{
    width: 100% !important;
}
#about .imageaccory
{
   left: 240px !important;
}
#about .imagerelate
{
   bottom: -115px !important;
   left: -30px !important;
}
}
@media (max-width: 380px)
{
    #footer #column .fs-6
{
    font-size: x-small !important;
}
   #footer #row .fs-6
   {
    font-size: xx-small !important;
   }
   #footer .fs-6{
    font-size: small !important;
   }
   .carousel-indicators{
    bottom: -65px !important;
}
 #home #margin .ms-4{
    margin-left: 1.2rem !important;
 }
 #about .imageaccory
{
   left: 220px !important;
}
#about .imagerelate
{
   bottom: 55px !important;
   left: 170px !important;
}
}
@media (max-width: 320px)
{
    #footer #column .span
    {
        display: block !important;
    }
    #footer #copytext{
        font-size: small !important;
    }
    .carousel-indicators{
        bottom: -30px !important;
    }
    #home .heading{
        font-size: large !important;
    }
    #home #margin .ms-4{
        margin-left: 1rem !important;
     }
     #about .imageaccory
     {
        left: 200px !important;
     }
     #about .imagerelate
{
   bottom: 55px !important;
   left: 130px !important;
}
}